/* #region GLOBAL STYLES */
  :root {
     --font-family: "Roboto", sans-serif;
     --second-family: "Raleway", sans-serif;
     --iris: #4d5ae5;
     --ocean: #404bbf;
     --navy-blue: #2e2f42;
     --green: #31d0aa;
     --slate: #434455;
     --light-slate: #8e8f99;
     --cornflower: #e7e9fc;
     --cloud: #f4f4fd;
     --navy-blue-modal: rgba(46, 47, 66, 0.4);
     --grey: rgba(46, 47, 66, 0.7);
     --white: #fff;
     --dairy: #fcfcfc;
     --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);}
  body {
      font-family: "Roboto", sans-serif;
      color: var(--slate);
      background-color: var(--white);
      }
    h1, h2, h3, h4, h5, h6, p {
      margin: 0;}
  a {
      text-decoration: none;}
  ul,ol {
     list-style-type: none;
     margin: 0;
     padding: 0;}
  img {
     display: block;
     max-width: 100%;
     height: auto;
         }
  h2 {
      color: var(--navy-blue);
      font-family: var(--font-family);
      font-weight: 700;
      font-size: 36px;
      line-height: 1.11;
      letter-spacing: 0.02em;
      text-align: center;
      text-transform: capitalize;}
  h3 {
      color: var(--navy-blue);
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 20px;
      line-height: 1.2;
      letter-spacing: 0.02em;}
  p {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: var(--slate);
      }

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    }

.section {
    padding: 120px 0;
    }

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    }
/* #endregion */

/* #region HEADER */
.header {
    background-color: var(--white);
    border-bottom: 1px solid #e7e9fc;}
.header .container {
    display: flex;
    align-items: center;}
.nav {
    display: flex;
    align-items: center;
}
  .logo {
      font-family: "Raleway", sans-serif;
      font-weight: 700;
      font-size: 18px;
      line-height: 1.17;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: var(--iris);}
      .logo-web {
      color: var(--iris);}
      .logo-dark {
      color: var(--navy-blue);}
      .header-logo {
       margin-right: 76px;}
  .nav-link {
       font-family: var(--font-family);
       font-weight: 500;
       font-size: 16px;
       line-height: 1.5;
       letter-spacing: 0.02em;
       color: var(--navy-blue);
       display: block;
       padding: 24px 0;
       transition: color var(--transition-dur-and-func);
       position: relative;}
  .nav-link:hover,
  .nav-link:focus {
       color: var(--ocean);}
  .nav-link.current {
       color: var(--ocean);
           }
  .nav-link.current::after {
       content: "";
       position: absolute;
       left: 0;
       bottom: -1px;
       width: 100%;
       height: 4px;
       border-radius: 2px;
       background-color: var(--ocean);
}
  .nav-list {
       display: flex;
       gap: 40px;
   }
  .address {
    font-style: normal;
    margin-left: auto;}
  .address-list {
       display: flex;
       gap: 40px;
   }
      .address-link {
            display: block;
            padding: 24px 0;
            font-family: var(--font-family);
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: var(--slate);}
      .address-link:hover,
      .address-link:focus {
            color: var(--ocean);}
/* #endregion */

/* #region MAIN CONTENT */

    /* #region HERO SECTION */
  
  .hero {
      background-color: var(--navy-blue);
      padding: 188px 0;
      max-width: 1440px;
      margin: 0 auto;
      background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),
          url(../images/hero-bg.jpg) ;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
  }
  .hero-title {
     font-family: var(--font-family);
     font-weight: 700;
     font-size: 56px;
     line-height: 1.07;
     letter-spacing: 0.02em;
     text-align: center;
     color: var(--white);
     max-width: 496px;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 48px;}

  .order-btn {
      min-width: 169px;
      height: 56px;
      border: none;
      border-radius: 4px;
      margin: 0 auto;
      display: block;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
      background-color: var(--iris);
    padding: 16px 32px;
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.04em;
      color: var(--white);
      cursor: pointer;
      transition: background-color var(--transition-dur-and-func);
    }
  .order-btn:hover,
  .order-btn:focus {
      background-color: var(--ocean);}
    /* #endregion HERO SECTION */

    /* #region FEATURES SECTION */
  .features-list {
      display: flex;
      gap: 24px;
       }

  .features-title {
    margin-bottom: 72px;}
  .features-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: var(--cloud);
    border-radius: 4px;
    border: 1px solid var(--light-slate);
    margin-bottom: 8px;
    }
  
    .features-item {
    width: calc((100% - 3 * 24px) / 4);
    }
  
    .features-subtitle {
    margin-bottom: 8px;}

    /* #endregion FEATURES SECTION */

    /* #region Our Team SECTION */
.team {
    background-color: var(--cloud);
    }
.team-list {
    display: flex;
    gap: 24px;
    }
.team-title {
    margin-bottom: 72px;}

.team-item {
    background-color: var(--white);
    width: calc((100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
        }
.team-social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;}
.team-card-content {
    padding: 32px 16px;
    text-align: center;
    }
.team-subtitle {
    margin-bottom: 8px;}

.team-role {
    margin-bottom: 0px;}
.team-social-item {
    width: 40px;
    height: 40px;
    }
.team-social-link {
    width: 100%;
    height: 100%;
    background-color: var(--iris);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color var(--transition-dur-and-func);
    }
.team-social-link:hover,
.team-social-link:focus {
    background-color: var(--ocean);
    }
.team-social-icon {
    fill: var(--cloud);
    }

    /* #endregion Our Team SECTION */

    /* #region Our Portfolio SECTION */

.portfolio-title {
    margin-bottom: 72px;
    }

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    }

.portfolio-item {
    width: calc((100% - 2 * 24px) / 3);
    transition: box-shadow var(--transition-dur-and-func);}
        

.portfolio-card-content {
    padding: 32px 16px;
    border: 1px solid var(--cornflower);
    border-top: none;
    }

.portfolio-subtitle {
    margin-bottom: 8px;
    }
.portfolio-img-wrapper {
    position: relative;
    overflow: hidden;
    }
.portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    background-color: var(--iris);
    color: var(--cloud);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transform: translateY(100%);
    transition: transform var(--transition-dur-and-func);
    }
.portfolio-item:hover {
    box-shadow: 0 1px 6px rgba(46, 47, 66, 0.08),
        0 1px 1px rgba(46, 47, 66, 0.16),
        0 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-item:hover .portfolio-overlay {
    transform: translateY(0);
    }

/* #endregion Our Portfolio SECTION */

    /* #endregion Our Portfolio SECTION */
  
/* #endregion MAIN CONTENT */

/* #region FOOTER */
.footer {
    background-color: var(--navy-blue);
    padding: 100px 0;}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
    text-decoration: none;}

.logo-light {
    color: var(--cloud);}

.footer-text {
    color: var(--cloud);
    max-width: 264px;
    line-height: 1.5;
    letter-spacing: 0.02em;}

.footer-container {
    display: flex;
    align-items: baseline;
    }

.footer-info {
    margin-right: 120px;
    }

.footer-social-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white);
    margin-bottom: 16px;
    }

.footer-social-list {
    display: flex;
    gap: 16px;
    }

.footer-social-item {
    width: 40px;
    height: 40px;
    }   

.footer-social-link {
    width: 100%;
    height: 100%;
    background-color: var(--iris);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color var(--transition-dur-and-func);
    }
.footer-social-link:hover,
.footer-social-link:focus {
    background-color: var(--green);
    }

.footer-social-icon {
    fill: var(--cloud);
    }
/* #endregion FOOTER */